.blogSec{
    background-image: linear-gradient(rgba(20, 20, 20, 0.63),rgba(34, 34, 34, 0.479)),url(../assets/icons/city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px; 
}
