
.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgCon{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
}
.imgCon img{
    width: 400px;
}
@media (max-width: 600px) {
    .imgCon img{
        width: 300px;
    }
}