.contactSec{
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
}
/* .contactLinks{
    
} */
.form{
    position: relative;
    background-image: linear-gradient(#0000ad98,#0101ad98),url(https://images.stockcake.com/public/8/f/7/8f796531-3691-4671-86ed-6a12d51e6cf5_large/sunset-skyscrapers-lights-stockcake.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.form .form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form .form1 input,textarea{
    width: 30rem;
    border: solid 2px white;
    border-radius: 16px;
    padding: 10px;
    color: white;
    background: none;
} 
.form .form1 input:last-child{
    background: white;
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.form .form1 input:last-child:hover{
    background: none;
    color: white;
    transition: 0.25s ease-in-out;
}
@media (max-width: 1028px) {
    .contactSec{
        grid-template-columns: 1fr;
        margin: 1rem;
    }
}
@media (max-width: 600px) {
    .contactSec{
        margin: 0;
    }
    .linksSec{
        position: relative;
    }
    .form .form1 input,textarea{
        width: 20rem;
    }
}