main{
    position: relative;
}
.mis-vi{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 50px;
    text-align: center;
}

.values-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    gap: 20px;
}
.values-card .img-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 255px;
    height: 255px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}
.values-card .img-title img{
    width: 5rem;
    filter: invert(31%) sepia(78%) saturate(1211%) hue-rotate(190deg) brightness(107%) contrast(106%);
}
.values-card ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.values-card ul{
    display: grid;
    gap: 10px;
}
.values-card ul li img{
    width: 1.2rem;
}
.why-us{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(7, 7, 143);
    padding: 10px;
}
.why-us .format{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}
.why-us .format .card h2{
    font-size: 1rem;
    text-align: center;
}
.why-us .format .card img{
    width: 4rem;
    filter: invert(31%) sepia(78%) saturate(1211%) hue-rotate(190deg) brightness(107%) contrast(106%);
}
.why-us .format .card{
    gap: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}
.why-us .format p{
    text-align: center;
    color: white;
    font-size: 1.1rem;
}
.why-title{
    padding: 20px 50px;
    background: rgb(20, 210, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
.why-title h3{
    width: 15rem;
    padding: 5px;
    border-radius: 20px;
    color: rgb(10, 79, 170);
    background: white;
}
.why-title p{
    font-weight: 500;
    font-size: 1rem;
    color: rgb(27, 27, 27);
}

.sub-title{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SUBSIDIARy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 50px;
    background: whitesmoke;
}
.SUBSIDIARy .card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 10px;
}
.SUBSIDIARy .card h3{
    font-size: 1rem;
    color: rgb(5, 66, 146);
}
.SUBSIDIARy .card ul{
    padding: 20px;
    display: grid;
    height: 15rem;
    gap: 9px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
    border-radius: 20px;
}
.SUBSIDIARy .card ul li{
    font-weight: 500;
    font-size: 1.1rem;
}
.sub-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sub-img img{
    width: 8rem;
}
.sub-img img:first-child{
    width: 9rem;
}
.sub-img img:nth-child(3){
    width: 9rem;
}

@media (max-width: 1028px){
    
    .SUBSIDIARy{
        padding: 15px;
    }
    .SUBSIDIARy .card{
        width: 90%;
    }
    .SUBSIDIARy .card ul li{
        font-size: 0.8rem;
        font-weight: 550;
    }
}
@media (max-width: 600px){
   
    .values-card{
        flex-direction: column;
    }
    .why-us .format p{
        font-size: 0.8rem;
    }
    .why-title{
        padding: 10px;
    }
    .why-title p{
        font-size: 0.9rem;
    }
    .SUBSIDIARy{
        grid-template-columns: 1fr;
    }
    .SUBSIDIARy .card{
        margin: 10px;
    }
    .sub-img img{
        width: 4rem;
    }
    .sub-img img:first-child{
        width: 6rem;
    }
    .sub-img img:nth-child(3){
        width: 6rem;
    }
}